<div id="result_<%= phase.id %>" class="single_result">
  <h3 class="sub_header"><%= phase.name %></h3>

  <p class="sub_text result_stats">
    Daily Sleep: <strong><%= phase.get_daily_sleep() %></strong> hours<br />
    Core Sleep Length: <strong><%= phase.get_core_sleep_length() %></strong> hours<br />
    # of Naps: <strong><%= phase.nap_count %></strong>
  </p>

  <p class="sub_text result_desc">
    <%= phase.desc %>
  </p>

  <div class="result_sched">
    <h4 class="sched_tb_title">Daily Sleep Schedule</h4>
    <table class="centered">
      <tr class="sched_tb_subtitle"><td>Sleep At</td><td>Until</td></tr>
      <% for sleep, wake in phase.get_sleep_times(@h.to_i, @m.to_i, @mr) %>
        <tr class="sched_tb_time"><td><%= sleep %></td><td><%= wake %></td></tr>
      <% end %>
    </table>
  </div>
  <hr />
</div>