<div id="result_<%= phase.id %>" class="single_result">
  <h3 class="sub_header"><%= phase.name %></h3>

  <p class="sub_text result_stats">
    Daily Sleep Hours: <strong><%= (phase.daily_length / 60.0).round(1) %></strong><br />
    Core Sleep Length: <strong><%= (phase.core_length / 60.0).round(1) %></strong><br />
    # of Naps: <strong><%= phase.nap_count %></strong>
  </p>

  <p class="sub_text result_desc">
    <%= phase.desc %>
  </p>

  <h4 class="sub_header">Daily Sleep Schedule</h4>
  <table class="result_sched">
    <tr><td>Time</td><td>Length</td></tr>
    
  </table>
  <hr />
</div>