<h3 class="sub_header">What is Morpheus?</h3>
<p class="sub_text">
  Morpheus is a simple web application to help you plan polyphasic sleep patterns.
</p>

<h3 class="sub_header">What is polyphasic sleep?</h3>
<p class="sub_text">
  <%= link_to "Polyphasic sleep", "//wikipedia.org/wiki/Polyphasic_sleep#Scheduled_napping_to_achieve_more_time_awake" %> is a way to strategically plan your sleep. It is used by people who want to spend more time awake daily by following a strict sleeping pattern. Most polyphasic sleeping patterns consist of a shorter core sleep at night and multiple naps scheduled throughout the day.
</p>

<h3 class="sub_header">Should I do this?</h3>
<p class="sub_text">
  It is up to you. There is debate about the effectiveness and safety of polyphasic sleep. Proponents claim that polyphasic sleep is more natural than monophasic sleep, but critics warn of the lack of longterm research and potential health risks.
</p>
<p class="sub_text">
  However, there are testimonial accounts of people who have tried it. Also, following any of these plans requires dedication and freedom to set a strict schedule for yourself that many may not be able to follow. The more extreme the sleep pattern is, the the longer it takes to get your body to adjust to it, and the more consistent and rigorous you need to be about your naps. 
</p>
<p class="sub_text">
  If you are new to the concept of polyphasic sleep, make sure to read up about it beforehand and decide if it is for you.
</p>

<h3 class="sub_header">Where can I read more about this?</h3>
<p class="sub_text">
  <ul>
    <li>
      <%= link_to "Wikipedia", "//wikipedia.org/wiki/Polyphasic_sleep#Scheduled_napping_to_achieve_more_time_awake", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Sleep - How to Hack Your Brain", "//www.dustincurtis.com/sleep.html", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Lifehacker Article", "//lifehacker.com/5866905/polyphasic-sleep-cycles-trick-your-body-into-needing-less-sleep", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Polyphasic Sleep Center", "//polyphasicsleepcenter.com", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Polyphasic Sleep - Facts and Myths", "//www.supermemo.com/articles/polyphasic.htm", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Video: Dr. Claudio Stampi's Uberman Sleep Study", "//www.youtube.com/watch?v=myi2sRph69A", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "UC Berkeley Study on Biphasic Sleeping", "//newscenter.berkeley.edu/2010/02/22/naps_boost_learning_capacity/", :target => "_blank" %>
    </li>
  </ul>
  Search up "polyphasic sleep" for more, including individuals' experiences with different cycles.
</p>