<%= form_tag("/calculate", :method => "get") do %>
  <p class="lead">I want my core sleep at</p>
  <%= select_tag(:h, options_for_select((1..12), 9), :class => "span1") %>

  <span class="lead">:</span>

  <%= select_tag(:m, options_for_select(("00".."59")), :class => "span1") %>

  <select id="select_meridiem" name="mr" class="span1">
    <option>AM</option>
    <option selected>PM</option>
  </select>

  <div id="submit_select" class="lead">
    
    <div id="daily" class="submit_box">
      <p>with about</p>
      <%= select_tag(:daily_amt, options_for_select((2..8), 8), :class => "span1") %>
      <span class="space"></span>
      hours of sleep in total daily.
      <div class="submit_button_box">
        <button type="submit" name="type" value="daily" class="btn btn-large">Calculate</button>
      </div>
    </div>
    
    <div id="core" class="submit_box">
      <p>with about</p>
      <%= select_tag(:core_amt, options_for_select((0..8), 8), :class => "span1") %>
      <span class="space"></span>
      hours in length.
      <div class="submit_button_box">
        <button type="submit" name="type" value="core" class="btn btn-large">Calculate</button>
      </div>
    </div>
    
    <div id="nap" class="submit_box">
      <p>with</p>
      <%= select_tag(:nap_amt, options_for_select((0..6)), :class => "span1") %>
      <span class="space"></span>
      naps per day.
      <div class="submit_button_box">
        <button type="submit" name="type" value="nap" class="btn btn-large">Calculate</button>
      </div>
    </div>
  </div>
<% end %>

<div id="selector" class="centered">
  Calculate by:
  <span class="space"></span>
  <%= link_to "Daily Sleep Hours", "#daily" %>
  - <%= link_to "Core Sleep Length", "#core" %>
  - <%= link_to "# of Naps", "#nap" %>
</div>