<%= form_tag("/result", :method => "get") do %>
  <p class="lead">I want to sleep at</p>

  <select id="select_hour" class="span1">
    <% for i in 1..12 %>
      <option><%= i %></option>
    <% end %>
  </select>

  <span class="lead">:</span>

  <select id="select_minute" class="span1">
    <% for i in "01".."59" %>
      <option><%= i %></option>
    <% end %>
  </select>

  <select id="select_meridiem" class="span1">
    <option>AM</option>
    <option>PM</option>
  </select>

  <p class="lead">with</p>

  <p id="selector">Select by: Core Hours - Total Daily Hours - # of Naps
  <i class="icon-question-sign icon-white"></i>
  </p>

  <p>
    <select class="span1">
      <% for i in 1..24 %>
        <option><%= i %></option>
      <% end %>
    </select>

    <span class="lead">hours at night</span>
  </p>
    
    <button type="submit" class="btn btn-large center">Submit</button>
<% end %>

<%= link_to "What is this?", :action => "about" %>
