<%= form_tag("/result", :method => "get") do %>
  <p class="lead">I want to sleep at</p>
  <%= select_tag(:hour, options_for_select((1..12)), :class => "span1") %>

  <span class="lead">:</span>

  <%= select_tag(:minute, options_for_select(("00".."59")), :class => "span1") %>

  <select id="select_meridiem" name="mr" class="span1">
    <option>AM</option>
    <option>PM</option>
  </select>

  <p class="lead">with</p>

  <div id="submit_select" class="lead">
    <div id="core" class="submit_box">
      <%= select_tag(:core_amt, options_for_select((0..7).to_a.concat([">8"])), :class => "span1") %>
      <span class="space"></span>
      hours at night.
      <div class="submit_button_box">
        <button type="submit" name="type" value="core" class="btn btn-large">Calculate</button>
      </div>
    </div>

    <div id="daily" class="submit_box">
      <%= select_tag(:daily_amt, options_for_select((2..7).to_a.concat([">8"])), :class => "span1") %>
      <span class="space"></span>
      hours daily total.
      <div class="submit_button_box">
        <button type="submit" name="type" value="daily" class="btn btn-large">Calculate</button>
      </div>
    </div>

    <div id="nap" class="submit_box">
      <%= select_tag(:nap_amt, options_for_select((0..6)), :class => "span1") %>
      <span class="space"></span>
      naps per day.
      <div class="submit_button_box">
        <button type="submit" name="type" value="nap" class="btn btn-large">Calculate</button>
      </div>
    </div>
  </div>
<% end %>

<div id="selector" class="centered">
  Calculate by:
  <span class="space"></span>
  <%= link_to "Core Hours", "#core" %>
  - <%= link_to "Total Daily Hours", "#daily" %>
  - <%= link_to "# of Naps", "#nap" %>
</div>