<!DOCTYPE html>
<html>
<head>
  <title>Morpheus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<div id="main_layout" class="center">
  <div id="main_header">
    <h4>
      <span id="main_logo"><%= link_to image_tag("morpheus-logo.png", alt: "Morpheus"), :action => "index" %></span>
      - a polyphasic sleep planner
      <a href="/about"><i class="icon-question-sign icon-white"></i></a>
    </h4>
  </div>

  <div id="main_content">
    <%= yield %>
  </div>

  <div id="main_footer">
    <p>
      <%= link_to_unless_current "Home", :action => "index" %>
      - <%= link_to_unless_current "About", :action => "about" %>
      - <%= link_to_unless_current "Terms of Use", :action => "terms" %>
    </p>
    <p><small>by <%= mail_to "tinaroh@gmail.com", "Tina Roh", :encode => "javascript" %>. Icons by <%= link_to "Glyphicons", "//www.glyphicons.com" %></small></p>
  </div>
</div>

</body>
</html>
